<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is the home page</h1>
    <h3> <%= 4 + 0 %>  </h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque repellendus eveniet possimus dolor. Illum quae qui minima laboriosam labore cumque nihil voluptates provident repudiandae neque at illo quam ab optio ullam earum a dignissimos ducimus magni, ipsa ex sit. At commodi, soluta laboriosam quos voluptas pariatur placeat omnis eligendi nobis.</p>
    <button>Click me</button>
</body>
</html>